html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    background: #999;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    background-color: #85d989;
    margin: 0;
    padding: 15px;
    height: auto;
}

.app-header-pagetab {
    border: 2px solid sienna;
    padding: 5px;
}

.app-content {
    background-color: #cc85d9;
    height: 100%;
    padding: 16px;
}

.write-plan, .writing, .writen {

}

